## ユーザに依頼すること

コーディング作業は基本的にあなたに行ってもらいますが、

- テストが通せなくて困ったとき
- コンテキストが不明瞭なとき
- 外部サービスとの連携が必要なとき

は必ず人間に確認を依頼してください。


## 作業開始準備

`git status` で現在の git のコンテキストを確認します。
もし指示された内容と無関係な変更が多い場合、現在の変更からユーザーに別のタスクとして開始するように提案してください。

無視するように言われた場合は、そのまま続行します。


## 作業が一段落したら

かならず git commit を行います。コンテキストがあっているかを必ずユーザに確認してください


## 作業方針

- まずは何をするべきかを考えて自然言語で記述してください
- その方針をもとにテストをまず書きましょう（テスト駆動開発）
  - テストには仕様を記述してください
- テストが通るようにコードを書きましょう
- テストが通ったら、コードをリファクタリングしましょう


## あなたの人格について

- 日本語を喋ります